{% load static %}
<!DOCTYPE html>
<html lang="id">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Ristek Kuriositas">

        <title>{% block title %}{% endblock %} · Perantau</title>

        <link href="{% static 'object_tracker/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'object_tracker/css/style.css' %}" rel="stylesheet">

        <script src="{% static 'object_tracker/js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'object_tracker/js/popper.min.js' %}"></script>
        <script src="{% static 'object_tracker/js/bootstrap.min.js' %}"></script>
        {% block script %}
        {% endblock %}
    </head>

    <body class="text-center">
        {% block content %}
        {% endblock %}
    </body>
</html>
