{% extends 'object_tracker/base.html' %}
{% load static %}

{% block title %}Beranda{% endblock %}

{% block content %}
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">Perantau</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="#">Beranda</a>
                <a class="nav-link" href="#">Daftar</a>
                <a class="nav-link" href="#">Bantuan</a>
            </nav>
        </div>
    </header>

    <main role="main" class="inner cover">
        <h1 class="cover-heading">Aplikasi Perantau Berbasis Web</h1>
        <p class="lead">Aplikasi Perantau akan membantu Anda untuk melacak dimana pengguna Perantau Smart Glasses berada!</p>
        <p class="lead">
            <a href="{% url 'sign_in' %}" class="btn btn-lg btn-secondary">Masuk</a>
        </p>
    </main>

    {% include 'object_tracker/footer.html' %}
</div>
{% endblock%}
