{% extends 'object_tracker/base.html' %}
{% load static %}

{% block title %}Masuk{% endblock %}

{% block content %}
<div class="sign-in">
    <form class="form-signin" action="{% url 'track' %}" method="post">
        {% csrf_token %}
        <img class="mb-4" src="https://dl.dropboxusercontent.com/s/1apf04hzllwy11s/pointer.png?dl=0" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Masukkan username dan password</h1>
        <label for="input-username" class="sr-only">Username</label>
        <input type="text" id="input-username" class="form-control" placeholder="Username" required autofocus name="username">
        <label for="input-password" class="sr-only">Password</label>
        <input type="password" id="input-password" class="form-control" placeholder="Password" required name="password">
        <button class="btn btn-lg btn-secondary btn-block" type="submit" name="Submit" value="Sign In">Sign in</button>
    </form>

    {% include 'object_tracker/footer.html' %}
</div>
{% endblock%}
