{% extends 'object_tracker/base.html' %}
{% load static %}

{% block title %}Beranda{% endblock %}

{% block script %}
<script src="https://api-maps.yandex.ru/2.1/?lang=en_US" type="text/javascript"></script>
<script type="text/javascript">
    var latitude = 0.0, longitude = 0.0, previousLatitude = 0.0, previousLongitude = 0.0;
    var icon, myMap, myPlacemark, position;
    get_position()
    setTimeout(ymaps.ready(init), 3000);

    function init() {
        icon = {
            iconLayout: 'default#image',
            iconImageHref: 'https://dl.dropboxusercontent.com/s/1apf04hzllwy11s/pointer.png?dl=0',
            iconImageSize: [30, 30],
            iconImageOffset: [-5, -38]
        }
        position = [latitude, longitude];
        previousLatitude = latitude;
        previousLongitude = longitude;
        myMap = new ymaps.Map("map", {
            center: position,
            zoom: 16
        });
        myPlacemark = new ymaps.Placemark(position, {}, icon);
        myMap.geoObjects.add(myPlacemark);
        var show_position = setInterval(update_position, 3000);
    }

    function update_position() {
        if ((Math.abs(latitude - previousLatitude) > 0.0001) || (Math.abs(longitude - previousLongitude) > 0.0001)) {
            position = [latitude, longitude];
            previousLatitude = latitude;
            previousLongitude = longitude;
            myMap.geoObjects.remove(myPlacemark)
            myPlacemark = new ymaps.Placemark(position, {}, icon);
            myMap.geoObjects.add(myPlacemark);
        }
        get_position()
    }

    function get_position() {
        $.ajax({
            type: "json",
            method: "GET",
            url: "/get-position/",
            data: {"device_id": "{{ device_id }}"},
            success: function(data) {
                latitude = data.latitude;
                longitude = data.longitude;
            }
        });
    }
</script>
{% endblock %}

{% block content %}
<div class="track">
    <nav class="navbar navbar-expand-md navbar-light bg-color">
        <a class="navbar-brand">Perantau</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_collapse" aria-controls="navbar_collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbar_collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Beranda <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Bantuan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Keluar</a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="map"></div>
</div>
{% endblock%}
