html,
body {
    height: 100%;
    background-color: #FFFFFF;
}

a,
a:focus,
a:hover {
  color: #FFFFFF;
}

.btn-secondary,
.btn-secondary:focus {
    color: #FFFFFF;
    text-shadow: none;
    background-color: #007FFF;
    border: .05rem solid #007FFF;
}

.btn-secondary:hover {
    background-color: #246BCE;
    border: .05rem solid #246BCE;
}

.cover-container {
    max-width: 42em;
}

.masthead {
    margin-bottom: 2rem;
}

.masthead-brand {
    margin-bottom: 0;
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: #555555;
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: #555555;
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #000000;
    border-bottom-color: #000000;
}

@media (min-width: 48em) {
    .masthead-brand {
        float: left;
    }
    .nav-masthead {
        float: right;
    }
}

.cover {
    padding: 0 1.5rem;
}

.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}

.mastfoot {
    color: #000000;
}

.bg-color {
    background-color: #EEEEEE;
}

#map {
    width: 100%;
    height: 90%;
    padding: 0;
    margin: 0;
    border: 5px solid #EEEEEE;
}

.track {
    background-color: #EEEEEE;
    width: 100%;
    height: 100%;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.sign-in {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
